#map-canvas {
    background: transparent no-repeat 1 1;
    width: 100%;
    height: 800px;
    float: left;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 65px;
    border: 2px solid black;
}
