/* Sidebar navigation */
.nav-sidebar {
    margin-left: -20px;
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}
