<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META NAME="Title" CONTENT="Coastkeeper: Report Database and Analytics">
    <title>{% block title %}Coastkeeper: Report Database and Analytics{% endblock %}</title>
    <script type="text/javascript" src="{{ STATIC_URL }}coastkeeper/JS/jquery-1.10.2.min.js"></script>
    {% block htmlhead %}{% endblock %}
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}coastkeeper/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="header-top">
        <div class="container">
            <a href="/"><img src="{{ STATIC_URL }}coastkeeper/imgs/logo.gif" border="0"/></a>
        </div>
    </div>

    <div class="navbar navbar-default">
        <div class="container">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="/">Map</a></li>
                <li><a href="/reports">Reports</a></li>
                <li><a href="/reports/statistics">Statistics</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/">Admin</a></li>
                <li><a href={% url "logout"%}?next=/>Log Out</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/accounts/login/">Log In</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    {% block header %}{% endblock %}

    <div class="container expense-sheet">
        {% block headermid %}{% endblock %}
        {% block contentdiv %}{% endblock %}
        {% block content %}{% endblock %}
    </div>

    <script>
        $('body').css('background-image', "url({{ STATIC_URL }}coastkeeper/imgs/furley_bg.png)");
        $('.area').hover(function(){$(this).find("a").toggleClass("hovered");});
        $('.area').click(function(){window.location=$(this).find("a").attr("href"); return false;});
    </script>

</body>
</html>
