{% extends "base.html" %}

{% block title %}Coastkeeper: Report Database and Analytics{% endblock %}

{% block htmlhead %}
    <style type="text/css">
        #map-canvas {
            background: transparent no-repeat 1 1;
            width: 100%;
            height: 1100px;
            float: left;
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
        }
    </style>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var map;
        var infowindow = new google.maps.InfoWindow({
            content: ''
        });

        function initialize() {
            var SAN_DIEGO = new google.maps.LatLng(32.799636,-117.253385);

            var mapOptions = {
                zoom: 11,
                center: SAN_DIEGO,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            //draw MPA polygons on map
            drawMPA();
/*
            {% for item in reports %}
                var latlngStr = '{{ item.location }}'.split(",");
                var myLatlng = new google.maps.LatLng(latlngStr[0], latlngStr[1]);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Illegal Activity'
                });

                var contentStr = '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<h4 id="firstHeading" class="firstHeading">Illegal Activity</h4>' +
                    '<div id="bodyContent">' +
                    '<p>' +
                    '<b>Crime Date: </b>{{ item.crime_date }} <br>' +
                    '<b>Number of Suspects: </b>{{ item.num_involved }} <br>' +
                    '<b>Creature Involved: </b>{{ item.creature }} <br>' +
                    '<a href="{% url "report_detail" pk=item.id %}">Detail</a></p>' +
                    '</div>' +
                    '</div>';

                display_info(marker, contentStr);
            {% endfor %}
*/
        }

        function drawMPA() {
            /* Baquitos Lagoon */
            var coords1 = [
                new google.maps.LatLng(33.090667, -117.302000),
                new google.maps.LatLng(33.087933, -117.292342),
                new google.maps.LatLng(33.090486, -117.2773),
                new google.maps.LatLng(33.091151,-117.278738),
                new google.maps.LatLng(33.090647,-117.291956),
                new google.maps.LatLng(33.091, -117.302167),
                new google.maps.LatLng(33.091000, -117.302167),
                new google.maps.LatLng(33.090667, -117.302000)
            ];

            /* Swami's State */
            var coords2 = [
                new google.maps.LatLng(33.048333, -117.298783),
                new google.maps.LatLng(33.048333, -117.362383),
                new google.maps.LatLng(33.000000, -117.339967),
                new google.maps.LatLng(33.000000, -117.2783),
                new google.maps.LatLng(33.016333, -117.28095),
                new google.maps.LatLng(33.048333, -117.298783)
            ];

            /* San Elijo Lagoon */
            var coords3 = [
                new google.maps.LatLng(33.015938,-117.281298),
                new google.maps.LatLng(33.009461,-117.264733),
                new google.maps.LatLng(33.007301,-117.262544),
                new google.maps.LatLng(33.002947,-117.277865),
                new google.maps.LatLng(33.015938,-117.281298)
            ];

            /* San Dieguito Lagoon */
            var coords4 = [
                new google.maps.LatLng(32.967565, -117.258939),
                new google.maps.LatLng(32.967385, -117.250228),
                new google.maps.LatLng(32.964928, -117.2507),
                new google.maps.LatLng(32.963244, -117.254605),
                new google.maps.LatLng(32.967565, -117.258939)
            ];

            /* San Diego-Scripps */
            var coords5 = [
                new google.maps.LatLng(32.883333, -117.252767),
                new google.maps.LatLng(32.883333, -117.273333),
                new google.maps.LatLng(32.866067, -117.273333),
                new google.maps.LatLng(32.866067, -117.253883),
                new google.maps.LatLng(32.876242, -117.2511),
                new google.maps.LatLng(32.883333, -117.252767)
            ];

            /* Matlahuayl */
            var coords6 = [
                new google.maps.LatLng(32.866067, -117.253883),
                new google.maps.LatLng(32.866067, -117.273333),
                new google.maps.LatLng(32.851117, -117.273333),
                new google.maps.LatLng(32.848325, -117.265348),
                new google.maps.LatLng(32.859469, -117.256421),
                new google.maps.LatLng(32.866067, -117.253883)
            ];

            /* South La Jolla SMR */
            var coords7 = [
                new google.maps.LatLng(32.826217, -117.279683),
                new google.maps.LatLng(32.826217, -117.316667),
                new google.maps.LatLng(32.799083, -117.316667),
                new google.maps.LatLng(32.799083, -117.25825),
                new google.maps.LatLng(32.826217, -117.279683)
            ];

            /* South La Jolla SMCA */
            var coords8 = [
                new google.maps.LatLng(32.826217, -117.316667),
                new google.maps.LatLng(32.826217, -117.342133),
                new google.maps.LatLng(32.799083, -117.334467),
                new google.maps.LatLng(32.799083, -117.316667),
                new google.maps.LatLng(32.826217, -117.316667)
            ];

            /* Famosa Slough */
            var coords9 = [
                new google.maps.LatLng(32.826217, -117.316667),
                new google.maps.LatLng(32.755621, -117.228974),
                new google.maps.LatLng(32.754115, -117.229811),
                new google.maps.LatLng(32.752554, -117.229425),
                new google.maps.LatLng(32.749594, -117.229135),
                new google.maps.LatLng(32.749378, -117.228051),
                new google.maps.LatLng(32.75083, -117.22686),
                new google.maps.LatLng(32.752644, -117.227086),
                new google.maps.LatLng(32.75268, -117.229038),
                new google.maps.LatLng(32.754187, -117.229371),
                new google.maps.LatLng(32.755685, -117.228513),
                new google.maps.LatLng(32.826217, -117.316667)
            ];

            /* Cabrillo */
            var coords10 = [
                new google.maps.LatLng(32.676667, -117.247),
                new google.maps.LatLng(32.676667, -117.25),
                new google.maps.LatLng(32.661667, -117.25),
                new google.maps.LatLng(32.661667, -117.238333),
                new google.maps.LatLng(32.666667, -117.238333),
                new google.maps.LatLng(32.664805, -117.242753),
                new google.maps.LatLng(32.666568, -117.245378),
                new google.maps.LatLng(32.668808, -117.245035),
                new google.maps.LatLng(32.673938, -117.245679),
                new google.maps.LatLng(32.676667, -117.247)
            ];

            /* Tijuana River */
            var coords11 = [
                new google.maps.LatLng(32.566667,-117.133),
                new google.maps.LatLng(32.566667,-117.15),
                new google.maps.LatLng(32.532833,-117.15),
                new google.maps.LatLng(32.534333,-117.124667),
                new google.maps.LatLng(32.553121,-117.128047),
                new google.maps.LatLng(32.557751,-117.132167),
                new google.maps.LatLng(32.566667,-117.133)
            ];

            var coords = [coords1, coords2, coords3, coords4, coords5, coords6,
                          coords7, coords8, coords9, coords10, coords11];

            for(var i = 0; i < coords.length; i++) {
                var polygon = new google.maps.Polygon({
                    paths: coords[i],
                    strokeColor: '#E60000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF3333',
                    fillOpacity: 0.35
                });

                polygon.setMap(map);
            }
        }

        function display_info(marker, contentStr) {
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(contentStr);
                infowindow.open(marker.get('map'), marker);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row" id="map-canvas"></div>
    </div>

    <div class="constainer">
        <div class="span6">
            <hr>
            <h3>How to Read the Map</h3>
            <p>Each shaded region represents a mpa.</p>
        </div>
    </div>

    <br>
{% endblock %}
